@import "tailwindcss";

:root {
  --background: #101010;
  --foreground: #d0d0d0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes textflicker {
  from {
    text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
  }
  to {
    text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
  }
}

html {
  /* animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: textflicker;
  animation-duration: 0.02s; */
}

body {
  background: var(--background);
  color: var(--foreground);
}
